.detailItem {
    width: 400px;
    margin: 0 auto;
    margin-top: 140px;
}

.detailTitle {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #000;
}

.titlePost {
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
    color: #000;
}

.detailBody {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    color: gray;
}

.secondTitle {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 50px;
}

.postComm {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.commTitle {
    font-weight: 500;
    font-size: 18px;
    color: #2e2e2e;
}

.commBody {
    font-weight: 400;
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}

.commEmail {
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin-top: 10px;
}